/*
//	BASICOS
*/
iframe {
    width: 100%;
}
.sub {
	font-family: $second-typo;
    font-weight: 700;
}
.lead {
	font-weight: 300;
	margin-bottom: 48px;
    font-size: 17.5px;
    line-height: 27.125px;
}


/*
////////////////////////// NAV
*/
nav {
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
    box-shadow: none;
    padding-top: 25px;
}
nav .container {
	width: 90%;
}

/*
///////////////////	HEADER
*/
.first {
	background-image: url("../img/img_slider_1.jpg");
}
.second {
	background-image: url("../img/img_slider_2.jpg");
}
.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;    
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);

    h1 {
    	font-weight: 700;
    }

    .sub {
    	font-size: 1.2rem;
    	padding-bottom: 3em;
    }
}

/*
//////////////////////// SECTIONS
*/
#main {
    position: relative;
    background: #fff;
    margin: -60px 30px 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

@media (max-width: 768px) {
	#main {
		margin: -30px 10px 0;
	}
}

/*
// INTRO
*/
#intro {
    padding: 75px 0 55px;
    text-align: center;
	
	p {
		color: #999;
	}
    
    h5 {
		color: #3c4858;
		font-weight: 700;
    }
}
@media (max-width: 768px) {
	#intro {
    	padding: 30px 0 20px;
    }
}

/*
//	ABOUT
*/
#about {
	background-image: url("../img/img_city.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 65px 0 30px;
	color: #fff;
	overflow: hidden;
    position: relative;

	&:after {
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,.7);
	    content: "";
	}
	.container {
	    z-index: 2;
	    position: relative;
	}

	iframe {
		margin: 3em 0 0;
	}
}
